OSB_MarcoResende/EBS/Credito/wsdl/CreditoGeralService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:tns="http://pucminas.br/SN/Credito" 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:cab="http://pucminas.br/MC/SOA/MarcoResende"
name="CreditoGeralService" targetNamespace="http://pucminas.br/SN/Credito">
  <wsdl:types>
	<xsd:schema targetNamespace="http://pucminas.br/SN/Credito"> 
    	<xsd:import namespace="http://pucminas.br/MC/SOA/MarcoResende" schemaLocation="../../../ModeloCanonico/MC/Pessoa.xsd" />
		<xsd:import namespace="http://pucminas.br/MC/SOA/MarcoResende" schemaLocation="../../../ModeloCanonico/MC/PucminasFault.xsd" />

      <xsd:element name="parametrosCreditoGeralRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="pessoa" type="cab:Pessoa"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="parametrosCreditoGeralResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="score" type="xsd:integer"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="pucminasFault">
	<wsdl:part element="cab:pucminasFault" name="fault" />
  </wsdl:message>
  
  <wsdl:message name="verificaCreditoGeralRequest">
    <wsdl:part element="tns:parametrosCreditoGeralRequest" name="parameters"/>
  </wsdl:message>
  
  <wsdl:message name="verificaCreditoGeralResponse">
    <wsdl:part element="tns:parametrosCreditoGeralResponse" name="parameters"/>
  </wsdl:message>
  
  <wsdl:portType name="CreditoGeralService">
    <wsdl:operation name="verificaCreditoGeral">
      <wsdl:input message="tns:verificaCreditoGeralRequest"/>
      <wsdl:output message="tns:verificaCreditoGeralResponse"/>
      <wsdl:fault name="pucminasFault" message="tns:pucminasFault" />
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="CreditoGeralServiceSOAP" type="tns:CreditoGeralService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="verificaCreditoGeral">
      <soap:operation soapAction="http://pucminas.br/SN/CreditoGeralService/verificaCreditoGeral"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="pucminasFault">
		<soap:fault name="pucminasFault" use="literal" />
	  </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="CreditoGeralService">
    <wsdl:port binding="tns:CreditoGeralServiceSOAP" name="CreditoGeralServiceSOAP">
      <soap:address location="http://pucminas.br/SOA/Credito"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
