Credito.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://pucminas.br/MC/SOA/Marco"
	xmlns:tns="http://pucminas.br/MC/SOA/Marco" elementFormDefault="qualified">
	
	<include schemaLocation="Pessoa.xsd"></include>
	
	<element name="credito" type="tns:Credito"></element>

	<complexType name="Credito">
		<sequence>
			<element name="pessoa" type="tns:Pessoa" />
			<element name="indicaCreditoExterno" type="boolean" />
			<element name="indicaCreditoInterno" type="boolean" />
			<element name="indicaWhiteList" type="boolean" />
			<element name="situacao" type="integer" />
		</sequence>
	</complexType>

</schema>