Pessoa.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://pucminas.br/MC/SOA/Marco" 
	xmlns:tns="http://pucminas.br/MC/SOA/Marco" 
	elementFormDefault="qualified">
	
	<element name="pessoa" type="tns:Pessoa"></element>
	
	<complexType name="Pessoa">
		<sequence>
			<element name="id" type="integer"></element>
			<element name="nome" type="string"></element>
			<element name="dataNascimento" type="date"></element>
			<element name="cnpj" type="string"></element>
			<element name="telefone" type="integer"></element>
		</sequence>
	</complexType>
	
</schema>