PucminasFault.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://pucminas.br/MC/SOA/Marco"
	xmlns:tns="http://pucminas.br/MC/SOA/Marco" elementFormDefault="qualified">

	
	<element name="pucminasFault" type="tns:PucminasFault"/>
	
	<complexType name="PucminasFault">
		<sequence>
			<element name="codigo" type="integer"/>
			<element name="descricao" type="string"/>
			<element name="detalhe" type="string"/>
		</sequence>
	</complexType>

</schema>